.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
  }
  
  .roleOptions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(56, 56, 56);
    cursor: pointer;
  }
  
  button.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
  }
  